@use '../stylesheets/mixin' as mixin;

.wrapper {
  padding: 10px 0;
}

.item {
  &:not(:first-child) {
    margin-top: 10px;
    border-top: 2px solid mixin.$headerBgColor;
  }
}

.itemHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  font-size: mixin.rem(14);
}

.date {
  color: lighten(mixin.$mainTextColor, 30%);
}

.commentWrapper {
  padding: 5px 10px;
}

.actionWrapper {
  display: flex;
  align-items: center;
}

.action {
  display: flex;
  align-items: center;
  width: 20px;

  &:not(:first-child) {
    margin-left: 5px;
  }
}
