@use '../stylesheets/mixin' as mixin;

.root {
  margin-top: 20px;
  padding: 0 16px;
}

.title {
  font-size: mixin.rem(22);
  font-weight: bold;
  text-align: center;
}

.wrapper {
  overflow-y: auto;
  max-width: 750px;
  max-height: 50vh;
  margin: 10px auto 0;
}

.list {
  max-width: 80%;
  margin: 0 auto;
}

.link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  padding: 10px;
  border: 1px solid mixin.$headerBgColor;
  border-radius: 3px;
}

.status {
  min-width: 70px;
  text-align: center;
}

.name {
  overflow-x: hidden;
  max-width: 24em;
  white-space: nowrap;
  text-overflow: ellipsis;
  flex: 1 1 auto;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 110px;
}

.number {
  flex: 1 0 auto;
  text-align: center;
}
