@use '../stylesheets/mixin' as mixin;

.form {
  max-width: 375px;
  margin: 10px auto 0;
  padding: 0 16px;

  & > fieldset {
    border: none;

    & > legend {
      margin: 0 auto;
    }
  }
}

.title {
  font-size: mixin.rem(20);
  font-weight: bold;
}

.inputWrapper {
  margin-top: 5px;
}

.label {
  display: block;
  font-size: mixin.rem(18);
}

.input {
  width: 100%;
  margin-top: 5px;
  padding: 5px 8px;
  font-size: mixin.rem(16);
  border: 1px solid mixin.$mainTextColor;
  border-radius: 3px;
}

.error {
  height: 1.5em;
  font-size: mixin.rem(16);
  color: mixin.$errorColor;
}

.actionWrapper {
  margin-top: 10px;
  text-align: center;
}

.action {
  padding: 5px 15px;
  font-size: mixin.rem(18);
  color: mixin.$bgColor;
  border: 3px solid mixin.$primaryColor;
  border-radius: 3px;
  background-color: mixin.$primaryColor;
  box-shadow: 0 3px 5px 0 mixin.$mainTextColor;

  &:hover,
  &:focus {
    color: mixin.$primaryColor;
    border: 3px solid mixin.$primaryColor;
    background-color: mixin.$bgColor;
  }

  &:active {
    transform: translateY(3px);
    box-shadow: none;
  }
}
